<!--
  Generated template for the TeleHealthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background: #5090c1">

  <ion-navbar>
    <ion-title> Tele Health</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-list>
          <ion-item *ngFor="let teledata of data">
          <button detail-none (click)="expandItem(item)" ion-item *ngFor="let item of items">
            <!-- <ion-thumbnail item-start>
              <img src="./assets/img/profile/profile-cover.jpg">
            </ion-thumbnail> -->
            <h2>Status • {{teledata.Status}}</h2>
            <h3>Physician name:{{teledata['First name']}}  {{teledata['Last name']}}</h3>
            <p>Appointment created:{{teledata['Appointment Created']}}<br/>
              Appointment assign time:{{teledata['Assigned Appointment Time']}}</p>
            <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
              Staff Name:{{teledata['Staff Name']}}
               Reasoona fro TeleHealth consult:{{teledata['Reason for Tele Health Consult']}}<br/>
              Physician phone:{{teledata['Physician Phone#']}}<br/>
            </expandable>
            <button ion-button clear item-end>View</button>
          </button>
          </ion-item>
        </ion-list>
  
</ion-content>
