page-tele-health {
    scroll-content {
        display: flex;
        flex-direction: column;
    }
 
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
      flex: 0.5;
    }

    button {
        align-items: baseline;
    }
    app.md [padding] .scroll-content {
         padding: 1px;
    }
}
